.skills img {
  margin: 0 25px;
}

.skills {
  background-color: transparent;
  padding: 20px 0 30px 0;
}
.marquee2,
.marquee3 {
  display: none;
}
@media (max-width: 800px) {
  .skills {
    padding: 10px 0;
  }
}

@media (max-width: 500px) {
  .skills {
    padding: 5px 0;
  }
  .skills img {
    width: 30px;
    margin: 5px 15px;
  }
  .marquee2,
  .marquee3 {
    display: flex;
  }
  .marquee1 {
    display: none;
  }
}
