.hero {
  background-color: transparent;
  padding-bottom: 30px;
  color: white;
}
.heading {
  font-family: "Oswald", Impact;
  font-size: 130px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: -5px;
  color: rgba(255, 255, 255, 0.9);
}
.heading span{
  font-size: 15px;
  margin-right: 10px;
  text-transform: lowercase;
}
.hero_info {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: flex-start;
}
.hero_info_para,
.hero_info_para2 {
  width: 37%;
}
.hero_info_btn {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.hero_info_btn img {
  width: 20px;
  margin: 5px 0 0 5px;
}
.hero_content {
  display: flex;
  background-color: #ffffff;
  height: 45vh;
  border-radius: 0 45vh 45vh 0;
  background-size: 70px 70px;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(0, 0, 0, 0.4) 25%,
      rgba(0, 0, 0, 0.4) 26%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 0, 0.4) 75%,
      rgba(0, 0, 0, 0.4) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(0, 0, 0, 0.4) 25%,
      rgba(0, 0, 0, 0.4) 26%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 0, 0.4) 75%,
      rgba(0, 0, 0, 0.4) 76%,
      transparent 77%,
      transparent
    );
  margin: 20px 0px;
  width: 90vw;
  align-items: flex-end;
}
.hero_content_mobile {
  display: none;
}
.me_hero {
  margin-bottom: -5px;
}
.me_hero img {
  height: 60%;
}
.stickers,
.stickers2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.sticker1 {
  margin-top: -100px;
  width: 100px;
  height: 100px;
}
.sticker2 {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
}

.sticker4 {
  width: 150px;
  height: 100px;
}
.sticker5 {
  margin-bottom: 50px;
  width: 100px;
  height: 100px;
  animation: rotation 8s infinite linear;
}
.sticker5:hover {
  animation: rotation 1s infinite linear;
}

.sticker3 {
  margin-left: -30px;
  margin-top: -50px;
  width: 120px;
  height: 100px;
}

.sticker7 {
  margin-bottom: 25px;
  width: 150px;
  height: 150px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1400px) {
  .navbar {
    margin: 0 100px;
  }
  .hero_info {
    padding: 0 200px;
  }

  .hero_info_para {
    text-align: justify;
  }
  .me_hero {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .me_hero img {
    height: 90%;
  }
  .sticker1,
  .sticker2,
  .sticker5,
  .sticker3,
  .sticker6 {
    height: 160px;
    width: 160px;
  }
  .sticker4 {
    width: 230px;
    height: 150px;
    margin-top: -100px;
  }
  .sticker3 {
    margin-top: -200px;
    width: 180px;
  }

  .sticker7 {
    margin-bottom: 50px;
  }
}

@media (min-width: 1600px) {
  .hero_content {
    height: 40vh;
    margin: 50px 100px 50px 0;
  }
}

/* ############################################################################ */
/* ############################################################################ */
/* MOBILE CSS */

@media (max-width: 800px) {
  .hero_content_mobile {
    display: inline-block;
    flex-direction: column;
    align-items: center;
  }

  .heading {
    font-size: 100px;
  }
  .hero_info_para2 {
    display: none;
  }
  .hero_info {
    flex-direction: column;
    padding: 0 20px;
  }
  .hero_info_para {
    width: 100%;
  }
  .hero_info_btn {
    margin-top: 20px;
  }
  .hero_content {
    width: 95%;
    display: none;
  }
  .me_hero {
    display: none;
    height: 90%;
    border: 1px solid black;
  }

  .stickers {
    display: none;
  }
  .mob_me {
    border-radius: 50%;
    width: 180px;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 70px;
    letter-spacing: -2px;
    line-height: -5px;
  }
}
