.sidebar {
  height: 100vh;
  background-color: #05091165;
  overflow-x: hidden;
  z-index: 4;
  margin-top: 0px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.nav_btn{
  margin:15px;
  display: flex;
  justify-content: flex-end;
}

.sidebar_links {
  padding: 0 20px;
  color: white;
}
.sidebar_links div {
  margin: 15px 10px;
  font-size: 21px;
}

@media (max-width: 800px) {
  .sidebar {
    position: fixed;
    top: 0px;
    right: 0;
    width: 0;
    border-left: 1px rgba(255, 255, 255, 0.15) solid;
  }
  .logo img {
    width: 150px;
  }
}
