@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800&family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
body {
  margin: 0;
  font-family: "Inter";
}

@font-face {
  font-family: DWB;
  src: url(DWB.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #585858;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(43, 42, 42);
}
